<br>
<div class="message">

<p>{{msg}}</p>

    <div class="nav">
        <button type="button"><a href="/">Back</a></button>
        <input type="button" value="Give me another one!" onClick="reload">
    </div>
</div>
